body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: black;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    background-color: rgba(235, 235, 240, 0.64);
    border-radius: 10px;
    padding: 10px;
}

.container h1 {
    color: aliceblue;
    font-weight: bold;
    margin-left: 35%;
}

form {
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button {
    margin-left: 10px;
    border-radius: 5px;
    background-color: rgb(152, 163, 159);
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

button:hover {
    background-color: rgb(67, 100, 89);
}

.completed {
    opacity: 0.6;
    color: green;
    font-weight: bold;
}

.completed .fa-check {
    display: inline;
}

.fa-check {
    display: inline;
    color: green;
    margin-left: 8px;
}

